* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a213d;
    --secondary-color: #e5f6e1;
    --accent2-color: #ffffff;
    --heading-font: "Georgia" "serif";
    --body-font: Palatino,
        URW Palladio L,
        serif;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

header img {
    margin: 20px;
    max-width: 150px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: .3rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
}

header,
nav,
footer {
    position: sticky;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

main,
footer {
    background-color: var(--accent2-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 18px;
    z-index: 3;
}

/* contact page main grid layout */

.home-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 150px 400px 300px;
    grid-gap: 20px;
}

main h2 {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

main img {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 1.5rem 1rem 1.5rem 0rem;
    padding: 0;
    border-radius: .3rem;
}

/*  contact page form */

form {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: .3rem;
    font-size: 17px;
    align-self: center;
    background-color: 5px solid var(--secondary-color);
    margin: 5px;
}

label {
    text-align: left;
    margin: 22px;
}

label:hover {
    background-color: rgb(250, 226, 206);
}

.row {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 10px 25px 25px 25px 10px;
    align-items: start;
    gap: 5px;
    margin-top: 3px;
}

.radio-mess {
    grid-column: 1/2;
    grid-row: 2/3;
}

.radio-gen-inq {
    grid-column: 2/3;
    grid-row: 2/3;
}

.radio-res-q {
    grid-column: 2/3;
    grid-row: 3/4;
}

.radio-web-sug {
    grid-column: 2/3;
    grid-row: 4/5;
}

select,
input,
textarea {
    padding: .4rem;
    margin: .2rem;
    font-size: 18px;
}

input::placeholder {
    color: rgb(177, 216, 177);
    font-style: italic;
    font-size: 14px;
}

input:hover {
    background-color: rgb(250, 226, 206);
}

textarea::placeholder {
    color: rgb(177, 216, 177);
    font-style: italic;
    font-size: 14px;
}

textarea:hover {
    background-color: rgb(250, 226, 206);
}

textarea {
    width: 325px;
    margin-left: 22px;
}

button {
    padding: 10px;
    width: 325px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-radius: 20px;
    margin-left: 22px;
}

.subscribe {
    width: 375px;
    padding: .3rem;
    font-size: 18px;
}

/* contact page end of form */
/* contact page  placement */
.flex-container {
    height: 250px;
    width: 800px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 20px;

}

.info {
    grid-column: 1/3;
    grid-row: 1/2;
}

.map {
    grid-column: 1/2;
    grid-row: 2/3;
}

section {
    margin: 30px;
    font-size: 15px;
}

.flex-container h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.flex-container img {
    margin: 5px 15px;
    max-width: 100%;
    height: auto;

}

/* end of contact page */
/* beginning of about page */

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
}

.his-left {
    grid-column: 1/2;
    font: var(--body-font);
}

.his-right {
    grid-column: 3/4;
    font: var(--body-font);
}

.history-img {
    grid-column: 2/3;
    justify-self: center;
}

.hero article {
    position: absolute;
    top: 355px;
    opacity: .9;
    background-color: var(--secondary-color);
    font: var(--body-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    background-color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 5px var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--primary-color);
    opacity: .9;
    background-color: var(--accent2-color);

}

.hero article img {
    float: right;
    width: 100px;
    margin: 5px;
    font: var(--body-font);
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.adventure h2 {
    width: 100%;
    text-align: center;
}

.adventure img {
    display: block;
    margin: 0;
}

/* end of about page */
/* beginning of sticky footer */

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 650px 1fr;
    align-items: center;
    justify-items: center;
    font: var(--heading-font);
}

.socialmedia {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}

/* Home Page */

#home-grid {
    display: grid;
    grid-template-columns: 135px 135px 135px 135px 135px 135px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 75px;
    gap: 5px;

}

#home-grid img {

    max-width: 800px;
    grid-column: 1/7;
    grid-row: 1/4;
}

#home-grid h1 {

    grid-column: 1/4;
    grid-row: 1/2;
    text-align: start;
    margin: 20px;
    font-family: var(--heading-font);
    font-size: 33px;

}

#home-grid h2 {
    font-size: 20px;
    grid-column: 3/5;
    grid-row: 5/7;
    z-index: 1;
    font-family: var(--body-font);
    font-size: 22px;
    font-style: italic;
}

#home-grid p {
    grid-column: 1/7;
    grid-row: 4/6;
    font-size: 22px;
    text-align: center;

}

.memories {

    align-self: center;
    grid-column: 3/5;
    grid-row: 6/8;
    z-index: 1;
}

.bg-rect {
    grid-column: 1/7;
    grid-row: 5/8;
    align-self: center;
    width: 840px;
    height: 250px;
    background-color: var(--secondary-color);

}

.foaming-adventures {

    grid-column: 4/7;
    grid-row: 1/2;
    align-self: start;
    justify-self: right;

}

.hear-it {
    grid-column: 1/3;
    grid-row: 6/8;
    align-self: center;
}

.love-it {
    grid-column: 3/5;
    grid-row: 5/7;
    align-self: center;
}

.feel-it {
    grid-column: 5/7;
    grid-row: 6/8;
    align-self: center;

}

.res-button {
    grid-column: 3/5;
    grid-row: 6/8;
    align-self: last baseline;
    justify-self: center;
    display: block;
    width: 250px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    border: 5px solid rgb(241, 196, 16);
    text-align: center;
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 25px;
    margin-top: 25px;
}

.address {
    grid-column: 1/8;
    grid-row: 8/9;
    align-self: center;
}

/* TRIPS PAGE */

.t-grid {
    display: grid;
    grid-template-columns: 135px 135px 135px 135px 135px 135px;
    grid-template-rows: 150px 230px 100px 30px 1fr;
    gap: 5px;

}

.t-grid img {
    max-width: 840px;
    grid-column: 1/7;
    grid-row: 1/4;
    justify-content: center;
}

.t-grid h1 {

    grid-column: 1/4;
    grid-row: 1/2;
    text-align: start;
    margin: 20px;
    font-family: var(--heading-font);
    font-size: 33px;

}

.t-grid h2 {
    font-size: 20px;
    grid-column: 3/5;
    grid-row: 5/7;
    z-index: 1;
    font-family: var(--heading-font);
    font-size: 22px;
    color: var(--primary-color)
}

.t-memories {
    align-self: center;
    grid-column: 5/8;
    grid-row: 1/2;
    z-index: 1;
}

.t-grid p {
    grid-column: 1/7;
    grid-row: 3/5;
    font-size: 22px;
    font-style: var(--body-font);
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: white;
}

.t-foaming-adventures {
    grid-column: 4/7;
    grid-row: 1/2;
    align-self: start;
    justify-self: right;

}

.fish {
    grid-column: 1/3;
    grid-row: 6/7;
}

.fish p {
    font-size: 16px;
}

.rolling {
    grid-column: 1/3;
    grid-row: 5/6;
    justify-self: center;
}

.rolling p {
    font-size: 16px;

}

.last-ch {
    grid-column: 3/5;
    grid-row: 5/6;
    justify-self: center;

}

.last-ch p {
    font-size: 16px;
}

.ultimate {
    grid-column: 5/7;
    grid-row: 5/6;
    justify-self: center;

}

.ultimate p {
    font-size: 16px;

}

.catering {
    grid-column: 3/5;
    grid-row: 6/7;
}

.catering p {
    font-size: 16px;
}

.res-button {
    grid-column: 3/5;
    grid-row: 6/8;
    align-self: last baseline;
    justify-self: center;
    display: block;
    width: 250px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    border: 5px solid rgb(241, 196, 16);
    text-align: center;
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 25px;
    margin-top: 25px;
}

.address {
    grid-column: 1/8;
    grid-row: 8/9;
    align-self: center;
}

.t-cont-button {
    grid-column: 5/7;
    grid-row: 6/8;
    align-self: last baseline;
    justify-self: center;
    display: block;
    width: 250px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    border: 5px solid rgb(241, 196, 16);
    text-align: center;
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 25px;
    margin-bottom: 100px;
}

table {
    height: fit-content;
    grid-column: 5/7;
    grid-row: 6/7;
    border-collapse: collapse;
    border: 3px solid var(--primary-color);
    align-self: center;
    margin-bottom: 160px;

}

th,
td {
    border: 1.5px solid var(--primary-color);
    text-align: center;
    padding: 5px 12px;

}

thead tr {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-weight: 500;
}