* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a213d;
    --secondary-color: #e5f6e1;
    --accent2-color: #ffffff;
    --heading-font: "Baskerville," "Georgia" "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

header img {
    margin: 20px;
    max-width: 150px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;

}

nav {
    background-color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: .3rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

main,
footer {
    background-color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
}

.his-left {
    grid-column: 1/2;
    font: var(--body-font)
}

.his-right {
    grid-column: 3/4;
    font: var(--body-font)
}

.history-img {
    grid-column: 2/3;
    justify-self: center;
}

.hero article {
    position: absolute;
    top: 355px;
    opacity: .75;
    background-color: rgb(231, 240, 226);
    font: var(--body-font);

}

.hero {
    position: relative;
    background-color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 5px var(--primary-color)
}

.hero h1 {
    position: absolute;
    top: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--primary-color);
    opacity: .75;
    background-color: var(--accent2-color);

}

.hero article img {
    float: right;
    width: 100px;
    margin: 5px;
    font: var(--body-font);

}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.adventure h2 {
    width: 100%;
    text-align: center;
}

.adventure img {
    display: block;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: 650px 1fr;
    align-items: center;
    justify-items: center;
    font: var(--heading-font);

}

.socialmedia {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}