* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(1 68 107);
    --secondary-color: rgb(174 183 175);
    --accent1-color: white;
    --accent2-color: black;
    --heading-font: "Baskerville," "serif";
    --body-font: "Optima";
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

li a {
    color: var(--accent1-color);
    margin: 10px;
}

div img {
    margin: 10px;
    padding: 5px;
    border: 0;
}

div h1 {
    box-sizing: 0;
    margin: 10px 5px 10px 10px;
    padding: 20px;
    border: 0;

}

article img {
    width: 200px;
    height: auto;
    margin: 10px 5px 10px 10px;
    padding: 0px;
    /* box-shadow: 20px var(--primary-color); */
}

nav img {
    width: 50px;
    height: auto;
}