* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a213d;
    --secondary-color: #857c9a;
    --accent1-color: #547251;
    --accent2-color: #fbe3a5;
    --heading-font: "Baskerville," "Georgia" "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

article {
    position: absolute;
    top: 350px;
    opacity: .9;
    background-color: white;

}

.hero {
    position: relative;
    background-color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: white;
}

.hero article img {
    float: right;
    width: 100px;
    margin: 5px;
}

/* }

/* h1, article {

} */

/* li a {
    color: var(--accent1-color);
    margin: 10px;
} */

/* div img {
    margin: 10px;
    padding: 5px;
    border: 0;
}

div h1 {
    box-sizing: 0;
    margin: 10px 5px 10px 10px;
    padding: 20px;
    border: 0;

}

article img {
    width: 200px;
    height: auto;
    margin: 10px 5px 10px 10px;
    padding: 0px;
    /* box-shadow: 20px var(--primary-color); */
/* }

nav img {
    width: 50px;
    height: auto;
} */