* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a213d;
    --secondary-color: rgb(238, 244, 234);
    --accent1-color: #1e2e1d;
    --accent2-color: white;
    --heading-font: "Baskerville," "Georgia" "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0a213d;
    color: var(--secondary-color);
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

main,
footer {
    background-color: var(--secondary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero article {
    position: absolute;
    top: 350px;
    opacity: .9;
    background-color: rgb(231, 240, 226);

}

.hero {
    position: relative;
    background-color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 5px var(--accent1-color)
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: rgb(231, 240, 226);
}

.hero article img {
    float: right;
    width: 100px;
    margin: 5px;
}