* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

header img {}

div img {
    margin: 10px;
    padding: 5px;
    border: 20px black;
}

div h1 {
    box-sizing: 0;
    margin: 10px 5px 10px 10px;
    padding: 20px;
    border: 0;

}

article img {
    width: 200px;
    height: auto;
    margin: 10px 5px 10px 10px;
    padding: 0px;
    border: 2px solid black;
}

nav img {
    width: 50px;
    height: auto;
}