* {
    display: block;
    font-size: .8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: block;
    box-sizing: border-box;
    padding: 3rem;
    margin: 2rem;
    padding: 2rem;
    border: .5px solid rgb(1, 1, 79);
    font-size: .8;
}

select,
option,
textarea,
button {

    padding: .5rem;
    margin: .5rem;
    box-sizing: border-box;
}