* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: rgb(1, 1, 79);
    background: #fff;
}

header h1 {
    font-size: 2em;
    padding: 1rem 5rem 1rem 5rem;
    color: rgb(59, 3, 85);
    text-align: center;

}

form {
    display: grid;
    width: 900px;
    padding: 1.5rem;
    margin: 0 auto;
    border: .5px solid rgb(1, 1, 79);
    border-radius: .5rem;
    background-color: rgb(245, 220, 242);

}

fieldset {
    display: grid;
    gap: .3rem;
    border: 1px solid #000;
    margin: 10px;
    padding: 30px;

}

legend {
    padding: .3rem;
    color: rgb(6, 6, 190);
    font-size: 2rem;
}

label {
    text-align: right;
    padding-right: 2rem;
}

label,
select,
input,
textarea {
    padding: .2rem;
    margin: .2rem;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    vertical-align: baseline;
}

input[type="checkbox"] {
    width: 35px;
    height: 35px;
}

button {
    margin: 1rem;
    width: 25%;
    background-color: rgb(59, 3, 85);
    font-size: .8em;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(59, 3, 85);
    padding: 10px;
    border-radius: .5rem;

}

button:hover {
    background-color: rgb(237, 10, 86);

}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}