* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 600px;
    color: black;
    border: none;
}

h1 {
    margin: .5rem;
}

form {
    background-color: rgb(190, 253, 253);
    color: #111;
}

form,
input {
    font-size: 22px;
}

input,
textarea,
select {
    padding: .75rem;
    width: 450px;
    font-size: 1rem;
}

button {
    background-color: navy;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    width: 90%;
    margin: 1.5rem;
    border-radius: 5rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}