table {
    border-collapse: collapse;
    border: 2px solid #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: .8rem;

}

th,
td {
    border: 1px solid #000000;
    padding: 8px 12px;
    text-align: center;
}

tbody:hover {
    background-color: aquamarine;
}

thead tr,
tfoot tr {
    background-color: #000000;
    color: #fff;
    font-weight: 700;
}