body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
}

.item1 {
    min-height: 100px;
    width: 250px;
    margin: 1rem;
    border: 5px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
    background-color: blue;
    color: white;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}