* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 150px;
    --border: 1px solid rgb(0, 0, 0);
    --padding: 1rem;
    --height: auto;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    display: block;
}

main {
    margin: 1rem;
    grid-column: 2/3;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px rgb(8, 8, 8 / .2);
    border: 1px rgb(8, 8, 8 / .2);
    padding: 2px;
    margin: 10px;
}

nav {
    background-color: rgb(56, 65, 114);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(249, 244, 230);
    display: block;
    background-color: rgb(25, 25, 72);
    padding: 10px;
    box-shadow: 0 0 5px gray;
    text-decoration: none;

}

h1 {
    color: rgb(25, 25, 72);
    border-bottom: 1px solid rgb(56, 65, 114);

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 105px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    color: #f1b324;
    background-color: rgb(249, 244, 230);
}

.grid {
    display: grid;
}