* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 150px;
    --border: 1px solid rgb(0, 0, 0);
    --padding: 1rem;
    --height: auto;

}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 13px;
    left: 30px;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px rgb(8, 8, 8 / .2);
    padding: 5px;
    border: 1px solid rgba(8, 8, 8, 0.2);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    color: #c29631;
    background-color: rgb(249, 244, 230);

}