.callout {
    maximum width:
        margin: border: padding: background color: text color:
}

.callout img {
    position (float):
        margin: border: padding: background color: width: height:
}

blockquote {
    margin:
}

cite {
    displaly:
        top border: top padding: text alighnment: size of font:
}